@media screen and (max-width: 1440px), screen and (max-height: 900px) {
    .container {
        padding: 0 100px;
    }
    /* ->->->->->->->->-> banner style satrt */
    .banner {
        margin-top: 38px;
    }

    .banner__container {
        position: relative;
    }
    .banner__info {
        max-width: 664px;
    }
    .banner__img {
        max-height: 80vh;
        object-fit: contain;
    }

    /* ->->->->->->->->-> banner style end */

    /* ->->->->->->->->-> product style start */
    .product__info_title {
        font-size: 32px;
    }
    /* ->->->->->->->->-> product style end */

    footer {
        padding: 0 100px;
    }

    .title {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
    }

    .cart__content_header {
        padding: 30px;
    }
    .cart__button {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 78px;
        height: 68px;
        background: var(--color1);
        z-index: 12;
        border-radius: 10px 0px 0px 10px;
        cursor: pointer;
    }
    .cart__content_product {
        gap: 0 12px;
        padding: 10px 30px 10px 20px;
    }
    .cart__content_product img {
        width: 76px;
        height: 70px;
    }
    .cart__content_product-info-name {
        font-size: 24px;
        line-height: 31px;
    }
    .cart__content_product-info-size,
    .cart__content_product-info-price {
        font-size: 16px;
        line-height: 24px;
    }

    .cart__content_footer {
        margin-top: auto;
    }
    .cart__sum {
        padding: 20px;
        font-size: 20px;
        line-height: 30px;
    }
    .cart__checkout {
        font-size: 20px;
        line-height: 24px;
    }
    .call {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white);
        position: fixed;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        right: 50px;
        bottom: 50px;
        z-index: 11;
    }
}

@media (min-width: 1024px) {
    .mobile-content {
        display: none;
    }
}
@media (max-width: 1024px) {
    .dropdown__title {
        z-index: 1;
    }
    .cart__button {
        width: 64px;
        height: 68px;
        left: -64px;
    }
    .desctop-content {
        display: none;
    }
    .mobile-content {
        display: block;
    }
    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 105px;
        background-color: var(--dark04);
    }
    .mobile-header__logo {
        width: 64px;
    }
    .mobile-header__logo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .mobile-header__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 80px;
    }
    .mobile-header__burger {
        display: flex;
        width: 30px;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .mobile-header__burger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color1);
        border-radius: 2px;
    }
    .mobile-header__menu_items {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 50px 30px 30px 30px;
        gap: 30px;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 150;
        transition: 0.5s;
    }
    .mobile-header__menu_items-active {
        right: 0;
    }
    .mobile-header__menu_link {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        text-decoration: none;
    }
    .mobile-header__menu_items-close {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 23px;
        top: 23px;
    }
    .mobile-header__menu_items-close span {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #000;
        position: absolute;
        top: 6px;
    }
    .mobile-header__menu_items-close span:first-child {
        transform: rotate(45deg);
    }
    .mobile-header__menu_items-close span:last-child {
        transform: rotate(-45deg);
    }
    .mobile-banner__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: calc(100vh - 87px); */
    }
    .mobile-banner__image {
        margin-top: -50px;
        max-width: 100%;
    }
    .mobile-banner__title {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 83px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        color: var(--color1);
    }
    .mobile-banner__subtitle {
        max-width: 548px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: var(--white);
        margin: 20px 0;
    }
    .mobile-banner__desc {
        max-width: 664px;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--white);
    }
    .mobile-banner__delivery {
        display: flex;
        align-items: center;
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: var(--white);
        gap: 32px;
        margin: 44px 0;
    }

    .mobile__products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 160px;
        gap: 100px;
    }
    .mobile__product {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mobile__product_img {
        max-width: 100%;
    }
    .mobile__product_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;
    }
    .mobile__product_title h2 {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 62px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        color: var(--color1);
    }
    .mobile__product_title-opened span {
        transform: rotate(180deg);
    }
    .mobile__product .product__sizes {
        gap: 10px;
        justify-content: space-between;
    }
    .mobile__product .product__count {
        margin: 20px auto;
    }
    .mobile__product .product__price {
        width: 100%;
    }
    .mobile__product .product__components {
        flex-direction: column;
    }

    .mobile__product_info {
        display: none;
    }
    .mobile__product_info-opened {
        display: block;
    }
    .mobile-content footer {
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 100px;
    }
    .mobile-content .footer__menu_title {
        margin-bottom: 12px;
    }
}

@media (max-width: 480px) {
    .cart__button {
        width: 43px;
        height: 46px;
        padding: 10px;
        left: -43px;
    }
    .cart__button img {
        max-width: 100%;
    }
    .mobile-header {
        padding: 10px 16px;
    }
    .mobile-header__logo {
        width: 46px;
    }
    .mobile-header__menu {
        gap: 47px;
    }
    .mobile-header__menu_items {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .mobile-slider__item_info .product__price {
        width: 100%;
    }

    .mobile-banner__image {
        margin-top: 0;
    }
    .mobile-banner__title {
        font-size: 30px;
        line-height: 40px;
    }
    .mobile-banner__subtitle {
        font-size: 24px;
        line-height: 30px;
    }
    .mobile-banner__desc {
        font-size: 18px;
        line-height: 25px;
    }
    .mobile-banner__delivery {
        font-size: 18px;
        line-height: 25px;
        text-align: start;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }
    .mobile-banner__delivery span {
        max-width: 230px;
    }
    .mobile-banner__delivery img {
        width: 60px;
    }
    .mobile__products{
        padding: 0 20px;
        gap: 50px;
        margin-top: 50px;
    }
    .mobile__product_title h2{
        font-size: 32px;
        line-height: 48px;
    }
    .mobile__product_title svg{
        width: 30px;
    }

    .product__components {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 30px 20px;
    }
  
    .mobile-content footer{
        margin-top: 50px;
        padding: 20px;
        justify-content: flex-start;
    }
}
