* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

:root {
    /* COLORS */

    --dark04: rgba(0, 0, 0, 0.4);
    --color1: #ff9800;
    --white: #ffffff;
    --silver: #a3a3a3;

    /* FONTS */

    --main-font: 'Nunito', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}
body::after{
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

    
header {
    padding: 9px 0;
    background: var(--dark04);
}

.header__container {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}
.header__menu_items {
    display: flex;
    align-items: center;
    gap: 80px;
    position: relative;
}
.header__menu_link {
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color1);
    text-decoration: none;
    padding: 10px 20px;
}
.header__menu_link-active {
    background: var(--white);
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    height: 100%;
}
.title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
}
.cart {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 12;
    display: flex;
    align-items: center;
    height: 100vh;
    transform: translateX(calc(100% - 1px));
    transition: 0.3s;
    filter: drop-shadow(-10px 0px 10px rgba(0, 0, 0, 0.45));
}

.cart__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background: var(--dark04);
}
.cart__open {
    transform: translateX(0)!important;
}
.cart__content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 100%;
    z-index: 11;
}
.cart__content_header {
    padding: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: var(--main-font);
}
.cart__content_header .title {
    color: var(--color1);
}
.cart__content_header button {
    border: none;
    background: none;
    cursor: pointer;
    z-index: 20;
}
.cart__button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 68px;
    background: var(--color1);
    z-index: 12;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    position: absolute;
    left: -78px;
}
.cart__content_products {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.cart__content_products::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
}

.cart__content_products::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2); /* color of the tracking area */
}

.cart__content_products::-webkit-scrollbar-thumb {
    background-color: var(--silver);
}
.cart__content_product {
    display: flex;
    align-items: center;
    gap: 0 50px;
    padding: 34px 60px 34px 30px;
    border-bottom: 1px solid var(--silver);
    position: relative;
}
.cart__content_product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart__content_product-info-name {
    color: var(--color1);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
}
.cart__content_product-trash{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}
.cart__content_product-info-row{
    display: flex;
    gap: 20px;
}
.cart__content_product-info-row input{
    max-width: 50px;
    padding: 0 5px;
}
.cart__content_product-info-size,
.cart__content_product-info-price {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.cart__content_footer {
    margin-top: auto;
}
.cart__sum {
    padding: 20px 37px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
}
.cart__checkout {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    background-color: var(--color1);
    border: none;
    cursor: pointer;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--white);
}
.call {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    position: fixed;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    right: 50px;
    bottom: 50px;
    z-index: 11;
}

.swiper {
    width: 100%;
    height: 100%;
}
.big__container {
    max-width: 1920px;
    padding: 0 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.container {
    max-width: 1920px;
    padding: 0 280px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

/* ->->->->->->->->-> banner style satrt */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}

.banner__container {
    position: relative;
}
.banner__info {
    max-width: 664px;
}
.banner__title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: var(--color1);
    line-height: 83px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.banner__subtitle {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: var(--white);
    line-height: 62px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.banner__desc {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: var(--white);
}
.banner__delivery {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 54px;
}
/* ->->->->->->->->-> banner style end */

/* ->->->->->->->->-> Product cart style start */

.product {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 32px;
    padding-right: 50px;
}
.product__item {
    height: 100%;
    overflow: hidden;
}
.product_reverse{
    justify-content: flex-end;
    padding-right: unset;
    padding-left: 50px;
}
.product__item_reverse {
    order: 2;
    justify-content: flex-end;
}
.product__info_reverse {
    justify-content: flex-end !important;
}
.product__image img {
    max-width: 100%;
    height: 120%;
    margin-top: -10%;
    object-fit: contain;
}
.product__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.product__info_container {
    max-width: 664px;
    display: flex;
    flex-direction: column;
}
.product__info_title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: var(--color1);
    margin-bottom: 40px;
}
.product__components {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.product__component {
    display: flex;
    align-items: center;
    min-width: calc((100% - 60px) / 2);
    gap: 20px;
}
.product__component_name {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}
.product__notes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    margin: 40px 0;
}
.product__note {
    width: 100%;
    height: 90px;
    border: 2px solid var(--white);
    border-radius: 10px;
    background: none;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    padding: 10px;
}
.product__note::placeholder {
    color: #a6a6a6;
}

.product__sizes {
    display: flex;
    align-items: center;
    gap: 147px;
}
.product__size {
    padding-left: 31px;
    position: relative;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: var(--white);
}
.product__sizes input {
    /* display: none; */
}
.product__size::before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid var(--color1);
    position: absolute;
    left: 0;
    top: 0;
}
.product__size::after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--color1);
    position: absolute;
    left: 6.5px;
    top: 6.5px;
    transition: 0.3s;
    opacity: 0;
}
.product__size_active::after {
    opacity: 1;
}
.product__size input {
    display: none;
}
.product__count {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: 44px;
    margin: 20px 0;
}
.product__count input {
    width: 100px;
    height: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000;
    border: none;
}
.product__count button {
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 100%;
    border: none;
}
.product__count button:first-child {
    border-radius: 5px 0 0 5px;
}
.product__count button:last-child {
    border-radius: 0 5px 5px 0;
}
.product__count input::-webkit-outer-spin-button,
.product__count input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}
.product__price {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    align-self: flex-start;
    width: 316px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color1);
    cursor: pointer;
    border: none;
}

/* ->->->->->->->->-> Product cart style end */

/* ->->->->->->->->-> DROPDOWN  style end */

.dropdown {
    position: relative;
}
.dropdown__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--dark04);
    left: 0;
    top: 0;
    z-index: 15;
}
.dropdown__title {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--color1);
    cursor: pointer;
    position: relative;
    z-index: 16;
}
.dropdown__title::after {
    content: '';
    display: flex;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--color1);
}
.dropdown__title-active::after {
    content: '';
    display: flex;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: none;
    border-bottom: 5px solid var(--color1);
}
.dropdown__content {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    background: rgba(252, 252, 252, 0.863);
    z-index: 16;
    gap: 30px;
    top: 59px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 3px;
}
.dropdown__content-active {
    display: flex;
}

.dropdown__link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

/* ->->->->->->->->-> DROPDOWN  style end */

footer {
    width: 100%;
    height: 100%;
    padding: 0 280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.footer__info_img {
    width: 315px;
}
.footer__info_phone {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: var(--white);
    gap: 20px;
    text-decoration: none;
}
.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer__navigation_link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--white);
}
.footer__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.footer__menu_title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 32px;
}
.footer__menu_link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: var(--white);
    text-decoration: none;
}
